* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

#main {
    width: 100%;
    position: relative;
}

#main .home {

    width: 100%;
    height: 120vh;

}

#main .home .left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 70vh;
    width: 100vh;
}

#main .home .left .up {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 40px;
    width: 70vh;
}

#main .home .left .up h4 {
    font-size: 18px;
    font-weight: 600;
    color: darkgray;
    text-transform: capitalize;
}

#main .home .left .up .line {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    width: 50px;
}

#main .home .left .up .line h1 {
    font-weight: 100;
    transform: rotate(10deg);
}

#main .home .left .mid {
    display: flex;
    align-items: self-start;
    justify-content: space-around;
    flex-direction: column;
    height: 50vh;
    width: 70vh;
    position: relative;
    padding-left: 30px;
}

#main .home .left .mid .cir {
    position: absolute;
    top: -3%;
    height: 55px;
    width: 50px;
    border-radius: 100px;
    background-color: white;
    border: none;
}

#main .home .left .mid .logo {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: blue;
}

#main .home .left .mid .logo h1 {
    font-size: 70px;
    color: #fff;
}

#main .home .left .mid .text {
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
}

#main .home .left .mid .text h1 {
    font-size: 70px;
}

#main .home .left .mid .text h4 {
    font-size: 20px;
    font-weight: 300;
    color: gray;
}

#main .home .left .mid .text b {
    font-size: 20px;
    font-weight: 300;
}

#main .home .circle {
    position: relative;
    top: 0%;
    left: 30%;
    width: 120vh;
    height: 120vh;
    transform: translate(50%, -60%);
    border: 5px solid #dadada;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main .home .circle .secondcircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    border: 3px solid cadetblue;
    border-radius: 100%;
    position: relative;


}

#main .home .circle .secondcircle .innercircle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0%;
    width: 80%;
    height: 80%;
    background-color: blue;
    border-radius: 100%;
    position: relative;
}

#main .home .circle .secondcircle .innercircle .box2 {
    display: flex;
    align-items: self-start;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 20px;
    position: absolute;
    top: 2%;
    right: 65%;
    height: 150px;
    width: 300px;
    border-radius: 8px;
    filter: drop-shadow(5px 5px 8px gray);
    background-color: white;
}

.secondcircle .innercircle .box2 .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    height: 25%;
    line-height: .5;
    border-radius: 8px;
    background-color: blue;
    width: 20%;
}

.secondcircle .innercircle .box2 .icon div {
    margin-right: 30px;
    padding-left: 10px;
    height: 3px;
    width: 10px;
    background-color: white;
}

.secondcircle .innercircle .box2 .icon .side {
    margin-left: 40px;
    padding-right: 1px;
}

.secondcircle .innercircle .box2 .icon h5 {
    color: white;
    font-size: 25px;
    padding-right: 10px;

}


.secondcircle .innercircle .box2 .text {
    width: 90%;
    height: 50%;
    background-color: #d3e1ee;
}

.secondcircle .innercircle .box2 .text p {
    padding-top: 10px;
    font-size: 12px;
    font-weight: 300;
    opacity: .5;
}

.secondcircle .innercircle .box2 .line {
    width: 80%;
    height: 5px;
    background-color: #dadada;
    border-radius: 28px;
    overflow: hidden;
}

.secondcircle .innercircle .box2 .line div {
    height: 100%;
    width: 70%;
    background-color: blue;
    position: relative;

}


#main .home .circle .secondcircle .innercircle .maincircle {
    width: 70%;
    height: 70%;
    background-color: darkblue;
    border-radius: 100%;
    position: relative;
    top: 0%;

}

.secondcircle .innercircle .maincircle .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 250px;
    width: 300px;
    background-color: white;
    border-radius: 10px;

}

.innercircle .maincircle .box .fist {
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    padding: 0px 12px;
}

.secondcircle .innercircle .maincircle .box .second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    height: 60%;
}

.maincircle .box .second .about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    height: 50%;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #7070bc;
    background-color: #d3e1ee;
}

.maincircle .box .second .about:nth-child(2) {
    border: 2px solid gray;
    background-color: white;
}

.maincircle .box .second .about:nth-child(2) .icons {
    background-color: white;
    border: 1px solid gainsboro;
}

.maincircle .box .second .about .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    background-color: blue;
    width: 20%;
    border-radius: 8px;
}

.maincircle .box .second .about:nth-child(2) .icons i {
    color: blue;
}

.maincircle .box .second .about .icons i {
    color: white;
    font-size: 25px;
}

.maincircle .box .second .about .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 60%;
    width: 60%;
}

.maincircle .box .second .about .text .texts {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.maincircle .box .second .about .text .texts h5 {
    font-size: 12px;
}

.maincircle .box .second .about .text .texts p {
    font-size: 10px;
}

.secondcircle .innercircle .maincircle .info {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 5px;
    height: 70px;
    width: 550px;
    background-color: #fff;
    position: absolute;
    right: 20%;
    top: 70%;
    filter: drop-shadow(2px 2px 5px gray);
}

.secondcircle .innercircle .maincircle .info .infos {
    display: flex;
    align-items: center;
    height: 90%;
    width: 40%;
    border-radius: 8px;
    overflow: hidden;
}

.secondcircle .innercircle .maincircle .info .main {
    background-color: #22e7a53b;

}

.secondcircle .innercircle .maincircle .info .infos .logo {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.secondcircle .innercircle .maincircle .info .infos .logo i {
    font-size: 25px;
    color: #19db71;
}

.secondcircle .innercircle .maincircle .info .infos .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    height: 90%;
    width: 70%;
}

.secondcircle .innercircle .maincircle .info .infos .text h5 {
    font-size: 15px;
    font-weight: 600;
}

.secondcircle .innercircle .maincircle .info .infos .text h6 {
    font-size: 13px;
    font-weight: 600;
    color: gray;
}

.secondcircle .innercircle .maincircle .last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    position: absolute;
    top: 100%;
    right: 50%;
    height: 150px;
    width: 80vw;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 18px 18px 60px #bebebe,
               0px 0px 6px #ffffff;
    border-radius: 8px;
}

.secondcircle .innercircle .maincircle .last .box {
    display: flex;
    align-items: self-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    padding-left: 50px;
}

.secondcircle .innercircle .maincircle .last .box h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
    color: blue;
    word-spacing: 5;
}

.secondcircle .innercircle .maincircle .last .box h2 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 8px;
}

.secondcircle .innercircle .maincircle .last .twoline {
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 10px;
    height: 50px;
    width: 50px;
}

.secondcircle .innercircle .maincircle .last .twoline h1 {
    font-weight: 500;
    color: blue;
}

.secondcircle .innercircle .maincircle .last .box p {
    font-size: 15px;
    font-weight: 600;
    color: grey;
    text-transform: capitalize;

}

.second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
    border-top: 1px solid gainsboro;
    position: relative;

}

.second .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    rotate: 270deg;
}

.second .left h4 {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    color: gray;
}

.second .left h1 {
    font-weight: 200;
    color: blue;
}


.second .mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    border: 2px solid gray;
    background-color: #fff;
    position: relative;

}

.second .mid .golu {
    position: relative;
    top: 10%;
    left: 32%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: blue;
}

.second .mid .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.second .mid .circle .cir {
    margin-bottom: 50px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background-color: rgba(191, 226, 226, 0.451);
}

.second .mid .text {
    width: 600px;
    position: absolute;
    top: 40%;
    text-align: center;
}

.second .mid .text h3 {
    font-size: 26px;
    font-weight: 700;
}

.second .mid .text strong {
    font-size: 26px;
    font-weight: 100;
}

.second .mid .text h2 {
    padding-top: 50px;
    font-size: 22px;
    color: blue;

}

.second .mid .text b {
    color: gray;
    font-weight: 300;
}


.second .right {
    position: relative;
    left: 20%;
    height: 500px;
    width: 500px;
    border: 2px solid gray;
    border-radius: 100%;

}

.futter {
    display: flex;
    height: 80vh;
    width: 100vw;
}

.futter .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    height: 100%;
    width: 30vw;
    background-color: rgb(244 244 244 / 66%);
}

.futter .left h2 {
    font-size: 35px;
    font-weight: 500;
    padding-right: 50px;
}

.futter .left div h4 {
    padding-top: 20px;
    color: blue;
}

.futter .boxes 
{
    height: 100%;
    width: 70vw;
    /* background-color: antiquewhite; */
}
.futter .boxes h3{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: gray;
    position: relative;
    top: 10%;
    /* left: 0%; */

}

.futter .boxes .upbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45%;
    width: 100%;
}
.futter .boxes .upbox .box
{ 
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   width: 25%;
    height: 100%;
}
.futter .boxes .upbox .mid #left
{

    border-radius: 100%;
    left: -25%;
    top: 20%;
    background-color: white;
}



.futter .boxes .upbox .box h4
{
    font-size: 25px;
    font-weight: 500;
    color: black;
}


.futter .boxes .upbox .box .golu
{
    height: 80px;
    width: 80px;
    border-radius: 5px 16px;

    background-color: #fff;
    position: relative;
     top: 20%;
     left: 20%;

}

.futter .boxes .upbox .box .crop
{
height: 50%;
width: 60%;
border-radius: 100%;
background-color: #7070bc;
}
.futter .boxes .upbox .box  h4
{
    font-size: 20px;
    padding-top:20px ;

}
.futter .boxes .upbox .box  b{
    font-size: 20px;
    font-weight: 400;
    color: gray;
}

.futter .boxes .downbox {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color: #d3e1ee;
}

   